html {
    background: linear-gradient(45deg,  #000000, #808080); /* cinza -> preto */

  ;
  height: 100%;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  height: 100%;
}
